<div style="max-width: 350px; margin: auto; padding: 1em; max-height: 1000px;">
    <mat-card>
        <mat-card-header>
            <mat-card-title style="text-align: center; font-size: 30px; padding-top: 7px;" >{{pokemon}}</mat-card-title>
            <mat-card-subtitle>Pokemon</mat-card-subtitle>
            <img src="assets/xd.png" alt="" mat-card-avatar>

        </mat-card-header>
        

    
        
        <label for="" class="carta">Experiencia Base:</label>
        <label for="">{{baseExperience}}</label>
        <label for="" class="carta">Peso:</label>
        <label for="">{{Altura}}</label>
        <label for="" class="carta">Altura:</label>
        <label for="">{{peso}}</label>
    
        
        <img src="{{urlImage}}" alt="" class="carta" id="cartaPokemon">
    </mat-card>
    <button class="btn btn-info" (click)="Volver()" style="margin-right: 100px; margin-left: 20px;">Volver</button>
    <button class="btn btn-info" (click)="VerCadena()"> Ver cadena</button>
</div>





