.carta{
    margin-right: 1em;
    display: block;
}
#cartaPokemon{
    margin-left: 100px;
    height: 100px;
    width: 100px;
}
.cadena{
    display: block;
}
.spacerxd{
    margin-left: 900px;
    font-size: 100px;
    color: green;
}